/*------------------------------------------------------------------ 
Project:      Inkscape Tutorials   (tutorials)
--------------------------------------------------------------------*/  

.wrapper .tutorial div#tut-header,
.wrapper .tutorial div#tut-footer {
    display: none;
}

body.tutorial
{
	background: #fff;
	font: 100% georgia, sans-serif;
	text-align: center;
}
body.tutorial #tut-container
{
	margin: 20px auto 0 auto;
	width: 750px;
	text-align: left;
}
body.tutorial #tut-header
{
	width: 750px;
	height: 180px;
	background: url(tutorial-html-header.png) no-repeat top left;
	margin: 0 0 -100px 0;
}
.tutorial h1
{
	font: italic normal 200%/100% verdana, sans-serif;
	text-transform: lowercase;
	color: #fff;
	padding: 10px 0 0 0px;
}
.tutorial h1 a
{
	display: block;
	padding: 0 0 0 70px;
	height: 50px;
	text-indent: -9999px;
	text-decoration: none;
	margin: 0 0 -20px 0;
}
.tutorial h1 #tut
{
	margin: 0 0 0 300px;
}
.tutorial h1 #tut-title
{
	text-transform: uppercase;
	font-style: normal;
	font-size: 60%;
	letter-spacing: 0.2em;
}
body.tutorial #tut-content
{
	border-top: none;
	padding: 0 15px 120px 15px;
	background: url(tutorial-html-footer.png) no-repeat bottom left;
}
.tutorial #tut-intro
{
	font-style: italic;
	padding: 0 5% 0 5%;
	text-align: justify;
	font: italic 100% verdana, sans-serif;
	color: #454545;
}
.tutorial h2,
.tutorial h3,
.tutorial h4,
.tutorial h5,
.tutorial h6
{
	font-family: verdana, sans-serif;
	font-weight: bold;
}
.tutorial h2
{
	font-size: 120%;
	margin: 25px 0 5px 0;
}
.tutorial h3
{
	font-size: 100%;
	margin: 20px 0 5px 0;
	font-style: italic;
}
.tutorial p
{
	margin: 0 0 15px 0;
	line-height: 165%;
}
.tutorial #tut-footer
{
	font: italic 80% georgia, serif;
	padding: 10px;
}
.tutorial kbd
{
	border: 3px outset #F3F3F3;
	background-color: #F3F3F3;
	padding: 0px 2px;
	cursor: default;
}
.tutorial kbd:hover
{
	border: 3px inset #F3F3F3;
}
.tutorial span.menu-command
{
	color: #777;
	font: italic small-caps bold 100% verdana, sans-serif;
}
.tutorial span.firstterm
{
	font-style: italic;
}

